In [5]:
import pandas as pd

In [6]:
adult=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data')

In [12]:
adult

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
5,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
6,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
7,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
8,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
9,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
10,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
11,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
12,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
13,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
14,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
15,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
16,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
17,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
18,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
19,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
20,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
21,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
22,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
23,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
24,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
25,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
26,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
27,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
28,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
29,23,Local-gov,190709,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32531,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32532,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32533,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32534,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32535,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32536,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32537,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32538,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32539,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32540,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32541,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32542,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32543,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32544,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32545,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32546,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32547,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32548,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32549,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32550,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32551,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32552,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32553,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32554,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [9]:
adult.head

<bound method NDFrame.head of        39          State-gov   77516      Bachelors   13  \
0      50   Self-emp-not-inc   83311      Bachelors   13
1      38            Private  215646        HS-grad    9
2      53            Private  234721           11th    7
3      28            Private  338409      Bachelors   13
4      37            Private  284582        Masters   14
5      49            Private  160187            9th    5
6      52   Self-emp-not-inc  209642        HS-grad    9
7      31            Private   45781        Masters   14
8      42            Private  159449      Bachelors   13
9      37            Private  280464   Some-college   10
10     30          State-gov  141297      Bachelors   13
11     23            Private  122272      Bachelors   13
12     32            Private  205019     Assoc-acdm   12
13     40            Private  121772      Assoc-voc   11
14     34            Private  245487        7th-8th    4
15     25   Self-emp-not-inc  176756        HS-grad    9
16     32            Private  186824        HS-grad    9
17     38            Private   28887           11th    7
18     43   Self-emp-not-inc  292175        Masters   14
19     40            Private  193524      Doctorate   16
20     54            Private  302146        HS-grad    9
21     35        Federal-gov   76845            9th    5
22     43            Private  117037           11th    7
23     59            Private  109015        HS-grad    9
24     56          Local-gov  216851      Bachelors   13
25     19            Private  168294        HS-grad    9
26     54                  ?  180211   Some-college   10
27     39            Private  367260        HS-grad    9
28     49            Private  193366        HS-grad    9
29     23          Local-gov  190709     Assoc-acdm   12
...    ..                ...     ...            ...  ...
32530  30                  ?   33811      Bachelors   13
32531  34            Private  204461      Doctorate   16
32532  54            Private  337992      Bachelors   13
32533  37            Private  179137   Some-college   10
32534  22            Private  325033           12th    8
32535  34            Private  160216      Bachelors   13
32536  30            Private  345898        HS-grad    9
32537  38            Private  139180      Bachelors   13
32538  71                  ?  287372      Doctorate   16
32539  45          State-gov  252208        HS-grad    9
32540  41                  ?  202822        HS-grad    9
32541  72                  ?  129912        HS-grad    9
32542  45          Local-gov  119199     Assoc-acdm   12
32543  31            Private  199655        Masters   14
32544  39          Local-gov  111499     Assoc-acdm   12
32545  37            Private  198216     Assoc-acdm   12
32546  43            Private  260761        HS-grad    9
32547  65   Self-emp-not-inc   99359    Prof-school   15
32548  43          State-gov  255835   Some-college   10
32549  43   Self-emp-not-inc   27242   Some-college   10
32550  32            Private   34066           10th    6
32551  43            Private   84661      Assoc-voc   11
32552  32            Private  116138        Masters   14
32553  53            Private  321865        Masters   14
32554  22            Private  310152   Some-college   10
32555  27            Private  257302     Assoc-acdm   12
32556  40            Private  154374        HS-grad    9
32557  58            Private  151910        HS-grad    9
32558  22            Private  201490        HS-grad    9
32559  52       Self-emp-inc  287927        HS-grad    9

                Never-married        Adm-clerical    Not-in-family  \
0          Married-civ-spouse     Exec-managerial          Husband
1                    Divorced   Handlers-cleaners    Not-in-family
2          Married-civ-spouse   Handlers-cleaners          Husband
3          Married-civ-spouse      Prof-specialty             Wife
4          Married-civ-spouse     Exec-managerial             Wife
5       Married-spouse-absent       Other-service    Not-in-family
6          Married-civ-spouse     Exec-managerial          Husband
7               Never-married      Prof-specialty    Not-in-family
8          Married-civ-spouse     Exec-managerial          Husband
9          Married-civ-spouse     Exec-managerial          Husband
10         Married-civ-spouse      Prof-specialty          Husband
11              Never-married        Adm-clerical        Own-child
12              Never-married               Sales    Not-in-family
13         Married-civ-spouse        Craft-repair          Husband
14         Married-civ-spouse    Transport-moving          Husband
15              Never-married     Farming-fishing        Own-child
16              Never-married   Machine-op-inspct        Unmarried
17         Married-civ-spouse               Sales          Husband
18                   Divorced     Exec-managerial        Unmarried
19         Married-civ-spouse      Prof-specialty          Husband
20                  Separated       Other-service        Unmarried
21         Married-civ-spouse     Farming-fishing          Husband
22         Married-civ-spouse    Transport-moving          Husband
23                   Divorced        Tech-support        Unmarried
24         Married-civ-spouse        Tech-support          Husband
25              Never-married        Craft-repair        Own-child
26         Married-civ-spouse                   ?          Husband
27                   Divorced     Exec-managerial    Not-in-family
28         Married-civ-spouse        Craft-repair          Husband
29              Never-married     Protective-serv    Not-in-family
...                       ...                 ...              ...
32530           Never-married                   ?    Not-in-family
32531      Married-civ-spouse      Prof-specialty          Husband
32532      Married-civ-spouse     Exec-managerial          Husband
32533                Divorced        Adm-clerical        Unmarried
32534           Never-married     Protective-serv        Own-child
32535           Never-married     Exec-managerial    Not-in-family
32536           Never-married        Craft-repair    Not-in-family
32537                Divorced      Prof-specialty        Unmarried
32538      Married-civ-spouse                   ?          Husband
32539               Separated        Adm-clerical        Own-child
32540               Separated                   ?    Not-in-family
32541      Married-civ-spouse                   ?          Husband
32542                Divorced      Prof-specialty        Unmarried
32543                Divorced       Other-service    Not-in-family
32544      Married-civ-spouse        Adm-clerical             Wife
32545                Divorced        Tech-support    Not-in-family
32546      Married-civ-spouse   Machine-op-inspct          Husband
32547           Never-married      Prof-specialty    Not-in-family
32548                Divorced        Adm-clerical   Other-relative
32549      Married-civ-spouse        Craft-repair          Husband
32550      Married-civ-spouse   Handlers-cleaners          Husband
32551      Married-civ-spouse               Sales          Husband
32552           Never-married        Tech-support    Not-in-family
32553      Married-civ-spouse     Exec-managerial          Husband
32554           Never-married     Protective-serv    Not-in-family
32555      Married-civ-spouse        Tech-support             Wife
32556      Married-civ-spouse   Machine-op-inspct          Husband
32557                 Widowed        Adm-clerical        Unmarried
32558           Never-married        Adm-clerical        Own-child
32559      Married-civ-spouse     Exec-managerial             Wife

                     White     Male   2174     0   40   United-States   <=50K
0                    White     Male      0     0   13   United-States   <=50K
1                    White     Male      0     0   40   United-States   <=50K
2                    Black     Male      0     0   40   United-States   <=50K
3                    Black   Female      0     0   40            Cuba   <=50K
4                    White   Female      0     0   40   United-States   <=50K
5                    Black   Female      0     0   16         Jamaica   <=50K
6                    White     Male      0     0   45   United-States    >50K
7                    White   Female  14084     0   50   United-States    >50K
8                    White     Male   5178     0   40   United-States    >50K
9                    Black     Male      0     0   80   United-States    >50K
10      Asian-Pac-Islander     Male      0     0   40           India    >50K
11                   White   Female      0     0   30   United-States   <=50K
12                   Black     Male      0     0   50   United-States   <=50K
13      Asian-Pac-Islander     Male      0     0   40               ?    >50K
14      Amer-Indian-Eskimo     Male      0     0   45          Mexico   <=50K
15                   White     Male      0     0   35   United-States   <=50K
16                   White     Male      0     0   40   United-States   <=50K
17                   White     Male      0     0   50   United-States   <=50K
18                   White   Female      0     0   45   United-States    >50K
19                   White     Male      0     0   60   United-States    >50K
20                   Black   Female      0     0   20   United-States   <=50K
21                   Black     Male      0     0   40   United-States   <=50K
22                   White     Male      0  2042   40   United-States   <=50K
23                   White   Female      0     0   40   United-States   <=50K
24                   White     Male      0     0   40   United-States    >50K
25                   White     Male      0     0   40   United-States   <=50K
26      Asian-Pac-Islander     Male      0     0   60           South    >50K
27                   White     Male      0     0   80   United-States   <=50K
28                   White     Male      0     0   40   United-States   <=50K
29                   White     Male      0     0   52   United-States   <=50K
...                    ...      ...    ...   ...  ...             ...     ...
32530   Asian-Pac-Islander   Female      0     0   99   United-States   <=50K
32531                White     Male      0     0   60   United-States    >50K
32532   Asian-Pac-Islander     Male      0     0   50           Japan    >50K
32533                White   Female      0     0   39   United-States   <=50K
32534                Black     Male      0     0   35   United-States   <=50K
32535                White   Female      0     0   55   United-States    >50K
32536                Black     Male      0     0   46   United-States   <=50K
32537                Black   Female  15020     0   45   United-States    >50K
32538                White     Male      0     0   10   United-States    >50K
32539                White   Female      0     0   40   United-States   <=50K
32540                Black   Female      0     0   32   United-States   <=50K
32541                White     Male      0     0   25   United-States   <=50K
32542                White   Female      0     0   48   United-States   <=50K
32543                Other   Female      0     0   30   United-States   <=50K
32544                White   Female      0     0   20   United-States    >50K
32545                White   Female      0     0   40   United-States   <=50K
32546                White     Male      0     0   40          Mexico   <=50K
32547                White     Male   1086     0   60   United-States   <=50K
32548                White   Female      0     0   40   United-States   <=50K
32549                White     Male      0     0   50   United-States   <=50K
32550   Amer-Indian-Eskimo     Male      0     0   40   United-States   <=50K
32551                White     Male      0     0   45   United-States   <=50K
32552   Asian-Pac-Islander     Male      0     0   11          Taiwan   <=50K
32553                White     Male      0     0   40   United-States    >50K
32554                White     Male      0     0   40   United-States   <=50K
32555                White   Female      0     0   38   United-States   <=50K
32556                White     Male      0     0   40   United-States    >50K
32557                White   Female      0     0   40   United-States   <=50K
32558                White     Male      0     0   20   United-States   <=50K
32559                White   Female  15024     0   40   United-States    >50K

[32560 rows x 15 columns]>

In [11]:
adult.columns

Index(['39', ' State-gov', ' 77516', ' Bachelors', ' 13', ' Never-married',
       ' Adm-clerical', ' Not-in-family', ' White', ' Male', ' 2174', ' 0',
       ' 40', ' United-States', ' <=50K'],
      dtype='object')

In [14]:
adult.columns=['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-coutry', 'Income' ]

In [15]:
adult.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-coutry',
       'Income'],
      dtype='object')

In [28]:
adult1=pd.crosstab(adult.sex,adult.Income)

In [29]:
adult1

Income    <=50K   >50K
sex
 Female    9592   1179
 Male     15127   6662

    male has higher generation income

In [27]:
adult1=pd.crosstab(adult.sex,adult.Income)

Income      <=50K      >50K
sex
 Female  0.890539  0.109461
 Male    0.694249  0.305751

In [30]:
adult2=pd.crosstab(adult.race,adult.Income,normalize='index')

In [31]:
adult2

Income                  <=50K      >50K
race
 Amer-Indian-Eskimo  0.884244  0.115756
 Asian-Pac-Islander  0.734360  0.265640
 Black               0.876120  0.123880
 Other               0.907749  0.092251
 White               0.744131  0.255869

The other has least income of greater than 50000 as a propotion

In [61]:
adult3=pd.crosstab(adult.race,adult.education).apply(lambda r: r/r.sum())

In [62]:
adult3

education,10th,11th,12th,1st-4th,5th-6th,7th-8th,9th,Assoc-acdm,Assoc-voc,Bachelors,Doctorate,HS-grad,Masters,Preschool,Prof-school,Some-college
race,,,,,,,,,,,,,,,,
Amer-Indian-Eskimo,0.017149,0.011915,0.011547,0.023810,0.006006,0.013932,0.009728,0.007498,0.013748,0.003922,0.007264,0.011332,0.002902,0.000000,0.003472,0.010835
Asian-Pac-Islander,0.013934,0.017872,0.020785,0.029762,0.054054,0.017028,0.017510,0.027179,0.027496,0.053978,0.067797,0.021522,0.051074,0.117647,0.071181,0.028528
Black,0.142551,0.130213,0.161663,0.095238,0.063063,0.086687,0.173152,0.100281,0.081042,0.061636,0.026634,0.111799,0.049913,0.098039,0.026042,0.102318
Other,0.009646,0.008511,0.032333,0.053571,0.039039,0.026316,0.015564,0.007498,0.004342,0.006164,0.004843,0.007428,0.004063,0.039216,0.006944,0.006995
White,0.816720,0.831489,0.773672,0.797619,0.837838,0.856037,0.784047,0.857545,0.873372,0.874300,0.893462,0.847919,0.892049,0.745098,0.892361,0.851324

the race AmerIndian eskimo has least education

In [66]:
adult4=pd.crosstab(adult.sex,adult.age).apply(lambda r: r/r.sum())

In [67]:
adult4

age,17,18,19,20,21,22,23,24,25,26,...,80,81,82,83,84,85,86,87,88,90
sex,,,,,,,,,,,,,,,,,,,,,
Female,0.470886,0.487273,0.5,0.482072,0.456944,0.447059,0.40935,0.382206,0.372176,0.369427,...,0.227273,0.45,0.166667,0.166667,0.4,0.333333,1.0,0.0,0.333333,0.325581
Male,0.529114,0.512727,0.5,0.517928,0.543056,0.552941,0.59065,0.617794,0.627824,0.630573,...,0.772727,0.55,0.833333,0.833333,0.6,0.666667,0.0,1.0,0.666667,0.674419

The male gender is older on a average

In [68]:
adult5=pd.crosstab(adult.education,adult.Income).apply(lambda r: r/r.sum())

In [69]:
adult5

Income            <=50K      >50K
education
 10th          0.035236  0.007907
 11th          0.045107  0.007652
 12th          0.016182  0.004209
 1st-4th       0.006554  0.000765
 5th-6th       0.012824  0.002041
 7th-8th       0.024516  0.005101
 9th           0.019701  0.003443
 Assoc-acdm    0.032445  0.033797
 Assoc-voc     0.041304  0.046040
 Bachelors     0.126745  0.283255
 Doctorate     0.004329  0.039026
 HS-grad       0.357053  0.213621
 Masters       0.030907  0.122306
 Preschool     0.002063  0.000000
 Prof-school   0.006190  0.053947
 Some-college  0.238845  0.176891

In [ ]:
Based on the education the income also changes