In [1]:
import pandas as pd

In [2]:
import os as os

In [3]:
os.getcwd()

'H:\\'

In [11]:
os.chdir('D:\\mortdefault')

In [12]:
os.listdir()

['mortDefault2000.csv',
 'mortDefault2001.csv',
 'mortDefault2002.csv',
 'mortDefault2003.csv',
 'mortDefault2004.csv',
 'mortDefault2005.csv',
 'mortDefault2006.csv',
 'mortDefault2007.csv',
 'mortDefault2008.csv',
 'mortDefault2009.csv']

In [14]:
mortagedefault=pd.read_csv('mortDefault2009.csv',header=None)

C:\Users\admin\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (0,1,2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
mortagedefault.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000001 entries, 0 to 1000000
Data columns (total 6 columns):
0    1000001 non-null object
1    1000001 non-null object
2    1000001 non-null object
3    1000001 non-null object
4    1000001 non-null object
5    1000001 non-null object
dtypes: object(6)
memory usage: 45.8+ MB

In [9]:

filelist=os.listdir()

In [10]:
mortdefault = [pd.read_csv(i) for i in filelist]

In [13]:
mort11=pd.concat(mortdefault,ignore_index=True)

In [14]:
mort11.head()

   creditScore  houseAge  yearsEmploy  ccDebt  year  default
0          615        10            5    2818  2000        0
1          780        34            5    3575  2000        0
2          735        12            1    3184  2000        0
3          713        15            5    6236  2000        0
4          689        10            5    6817  2000        0

In [15]:
mort11.creditScore.mean()

700.0382475

In [16]:
mort11.groupby('year').creditScore.mean()

year
2000    700.010831
2001    700.012431
2002    699.995307
2003    700.085155
2004    699.993788
2005    700.097133
2006    700.039365
2007    700.092305
2008    700.092404
2009    699.963756
Name: creditScore, dtype: float64

In [18]:
mort11.groupby('year').creditScore.std()

year
2000    49.939308
2001    49.950297
2002    50.016299
2003    50.047266
2004    50.042596
2005    50.015770
2006    50.047207
2007    50.018265
2008    49.987121
2009    49.980080
Name: creditScore, dtype: float64